{% extends "base.html" %}
{% block title %}ReMarket - All Listings{% endblock %} 

{% block content %}
  <div class="container mt-5">
    <h2>Properties</h2>
    
    <!-- Add a Property button -->
    <div class="d-flex justify-content-end mb-3 mx-5">
      <a href="{% url 'property-create' pk=lister_pk %}" class="btn btn-primary">Add a property</a>
    </div>
    <!-- Properties table -->
    <table class="table table-striped">
      {% for property in object_list %}
        <tr>
          <!-- Property name -->
          <td><a href="{% url 'listing-detail' pk=property.lister.pk property_pk=property.pk %}">{{ property.name }}</a></td>
          <!-- Edit button -->
          <td>
            <a href="{% url 'property-update' pk=property.lister.pk property_pk=property.pk %}" class="btn btn-secondary">Edit</a>
          </td>
          <!-- Delete button -->
          <td>
            <a href="{% url 'property-delete' pk=property.lister.pk property_pk=property.pk %}" class="btn btn-danger">Delete</a>
          </td>
        </tr>
      {% empty %}
        <tr>
          <td colspan="3">No properties yet.</td>
        </tr>
      {% endfor %}
    </table>
  </div>
{% endblock %}