{% extends 'base.html' %}
{% block title %}ReMarket - Listing Detail{% endblock %} 

{% block content %}
  <div class="container mt-5">
      <h2>{{ object.name }}</h2>
      <p>Has been approved to be published? {{object.is_published}}</p>
      <!-- Display other fields here -->
      
      <h3>Images</h3>
      <div class="row row-cols-auto g-4">
        {% for image in object.property_images.all %}
          <div class="col">
            <a href="{{image.upload.url}}" target="_blank"><img src="{{ image.upload.url }}" alt="Property Image" class="img-thumbnail img-fluid img-hover"></a>
          </div>
        {% empty %}
          <p>No images yet.</p>
        {% endfor %}
      </div>
      <!-- Edit and Delete buttons -->
      <div class="text-center mt-3">
        <a href="{% url 'property-update' pk=object.lister.pk property_pk=object.pk %}" class="btn btn-primary">Edit</a>
        <a href="{% url 'property-delete' pk=object.lister.pk property_pk=object.pk %}" class="btn btn-danger">Delete</a>
        <div class="mt-1">
            <a href="{% url "property-list" pk=object.lister.pk %}">Back to properties</a>
        </div>
      </div>
  </div>

  <!-- Add this style block to your template -->
  {% block extra_style %}
  <style>
    .img-thumbnail {
      width: 300px;
      height: 300px;
      object-fit: cover;
      cursor: pointer;
    }
  
  </style>
  {% endblock %}

{% endblock %}
